@using GridMvc.Html
@using Client.Models
@model IEnumerable<ContractTypeViewModel>

@{
	ViewBag.Title = "Contract Management";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-info panelBackground">
	<div class="panel-heading"><h3 class="text-dar">Contract types</h3></div>
	<div class="panel-body">
		<button class="btn btn-info" data-toggle="modal" id="load-partial">
			Add Contact
		</button>
		<hr />
		@Html.Grid(Model).Columns(columns =>
		{

			columns.Add().Encoded(false).Sanitized(false).SetWidth(30)
   .RenderValueAs(d =>
	@<b>
		<a href="#" onclick="removeContractType(@d.ID)"><i class="fa fa-trash"></i></a>
	</b>);

				columns.Add(c => c.Name).Titled("Name").Filterable(true);

				columns.Add()
								 .Encoded(false)
								 .Sanitized(false)
								 .SetWidth(30)
								 .RenderValueAs(o => Html.ActionLink("Details", "Details", new { id = o.ID }));
			}).WithPaging(20).Sortable(true).Selectable(true)

		<div id='myModal' class='modal fade'>
			<div class="modal-dialog">
				<div class="modal-content">
					<div id='myModalContent'></div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="dynamic-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">New Contract Type</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						@Html.Action("Create", "ContractType")
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
<script type="text/javascript">


	$("#load-partial").on('click', function () {
		console.log('click');

		//setup modal
		$('#dynamic-modal').modal({
			keyboard: false,
		}).show();
	});

	function removeContractType(contractTypeId) {
		var x = confirm("Are you sure you want to delete?");
		if (x)
			$.ajax({
				url: '/ContractType/Remove/' + contractTypeId,
				success: function (data) {
					if (data == true) {
						location.reload();
					}
				}
			});
		else
			return false;
	}

</script>
