@model IEnumerable<Client.Models.RequestViewModel>
@using GridMvc.Html

@{
	ViewBag.Title = "Index";
}

<div class="panel panel-info panelBackground">
	<div class="panel-heading"><h3 class="text-dark">Contract Requests</h3></div>
	<div class="panel-body">
		<hr />
		@Html.Grid(Model).Columns(columns =>
		{
			columns.Add(c => c.Contract.Type.Name).Titled("Contract Name").Filterable(true);

			columns.Add(c => c.DateRequested).Titled("Requested").Filterable(true);
			columns.Add(c => c.ValidUntil).Titled("Valid").Filterable(true);
			columns.Add(c => c.Contract.SigningDate).Titled("Signed").Filterable(true);
			columns.Add(c => c.Contract.Manager.Name).Titled("Manager").Filterable(true);
			columns.Add(c => c.Contract.User.Name).Titled("User").Filterable(true);
		}).WithPaging(20).Sortable(true).Selectable(true)

	</div>
</div>