@model System.Web.Mvc.HandleErrorInfo

@{
	ViewBag.Title = "Error";
}

<div class="panel panel-info panelBackground">
	<div class="panel-heading">Error Page</div>
	<div class="panel-body">
		<div style=" padding:20px;">
			<h3>
				Application Error:
			</h3>
			<h4>
				Sorry, an error occurred while processing your request.
			</h4>
			<h6>@Html.ActionLink("Go Back To Home Page", "Index", "Home")</h6>
			<br />
			<br />
		</div>

	</div>
</div>